body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    color: white;
    
    /*margin-top: 10px;*/
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    /*font-size: 16px;*/
}

header nav a:hover {
    text-decoration: underline;
}

/*h1 {
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
}*/

/* Estilo para la tabla */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: grey;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

/* Enlace */
a {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    text-decoration: none;
    /*color: #4CAF50;*/
}

/*a:hover {
    text-decoration: underline;
}*/
.piepag p{
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}