<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta</title>
    <link rel="stylesheet" href="/static/css/encuesta.css">
</head>
<body>
    <header>
        <h1>Respuestas de la Encuesta</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="{{ url_for('nosotros') }}">Nosotros</a>
            <a href="{{ url_for('contacto') }}">Contacto</a>
            <a href="{{ url_for('persona') }}">Evaluacion</a>
        </nav>
    </header>
    <br>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Salud</th>
            <th>Desarrollo</th>
            <th>Amistad</th>
            <th>hogar</th>
            <th>Amor</th>
            <th>Ocio</th>
            <th>Trabajo</th>
            <th>Dinero</th>
        </tr>
        {% for row in datos %}
        <tr>
            <td>{{ row[0] }}</td>  <!-- ID -->
            <td>{{ row[1] }}</td>  <!-- Nombre -->
            <td>{{ row[2] }}</td>  <!-- Edad -->
            <td>{{ row[3] }}</td>  <!-- Salud -->
            <td>{{ row[4] }}</td>  <!-- Desarrollo -->
            <td>{{ row[5] }}</td>  <!-- Amistad -->
            <td>{{ row[6] }}</td>  <!-- Familia -->
            <td>{{ row[7] }}</td>  <!-- Amor -->
            <td>{{ row[8] }}</td>  <!-- Ocio -->
            <td>{{ row[9] }}</td>  <!-- Carrera -->
            <td>{{ row[10] }}</td> <!-- Dinero -->
        </tr>
        
        {% endfor %}
    </table>
    <div class="piepag">
        <p><a href="{{ url_for('persona') }}" target="_blank">Regresar a evaluación</a></p>    
    </div>
    <!--a href="/">Volver</a-->
    <footer>
        <p>&copy; 2025 - Rueda de la Vida</p>
    </footer>
</body>
</html>

